<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="footContent">
    <div class="left">
        <div class="tilte">
            毛爪子問卷中心 © 2022 泰山股份有限公司
        </div>
        <div class="icon">
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-line"></i></a>
            <a href="./member/admins_login.php" id="hiddenA">back</a>
        </div>
    </div>
    <div class="right">
        <div class="title">
            Contacts
        </div>
        <div class="detail">
            <p>地址： 243新北市泰山區貴子里致遠新村55之1號</p>
            <p>電話： 02 2901 8274</p>
            <p>營業時間： 8:10~11:50, 13:00~16:35</p>
            <p>Mail： demo@paw.com.tw</p>
        </div>
    </div>
</div>