<!-- 會員選單 -->
<div class="nav-header">

    <div class="logo">
        <a href="index.php"><img src="./img/logo.png" alt="logo"></a>
    </div>
    <nav class="nav">
        <div class="nav-left">
            <div class="box">
                <button class="menu">
                    投票列表
                </button>
                <div class="nav-content">
                    <a href="?do=vote_list">
                        <p>所有投票</p>
                    </a>
                    <a href="?do=vote_now">
                        <p>進行中的投票</p>
                    </a>
                    <a href="?do=vote_old">
                        <p>已結束的投票</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <button class="menu">
                    會員中心
                </button>
                <div class="nav-content">
                    <a href="?do=user_data">
                        <p>會員資料</p>
                    </a>
                    <a href="?do=vote_voted">
                        <p>參與過的投票</p>
                    </a>
                    <a href="./api/logout.php">
                        <p>登出</p>
                    </a>
                </div>
            </div>
        </div>



        <div class="nav-right">

            <div class="nav-search">
                <form action="" method="get" class="searchForm">
                    <input type="text" id="search" name="search" placeholder="Search">
                    <input type="submit" value="搜尋" class="searchBtn">
                </form>
            </div>
            <a href="users_login.php">登入&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="users_login.php?do=register">註冊&nbsp;<i class="fa-solid fa-id-card"></i></a>
        </div>
    </nav>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="./js/menu.js"></script>